body {
  background: rgb(234, 228, 237);
  color: rgb(70, 68, 71);
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px;
  font-size: 20px;
}

input { 
  margin: 15px;
  width: 90px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 50%;
}

input:hover {
  box-shadow: 0 1px 6px 0 rgba(125, 85, 163,0.28);
  border-color: rgba(125, 85, 163,0);
}

.score-container {
  display: flex;
  flex-direction: row;
}

.scores {
  padding: 0px 20px;
  text-align: center;
}

footer {
  color: rgb(70, 68, 71);
  font-size: 8px;
  display: flex;
  justify-content: center;
}