body {
  background: rgb(234, 228, 237);
  color: rgb(70, 68, 71);
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px;
  font-size: 20px;
}

input { 
  margin: 15px;
  width: 90px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 50%;
}

input:hover, input:focus {
  box-shadow: 0 1px 6px 0 rgba(125, 85, 163,0.28);
  border-color: rgba(125, 85, 163,0);
  outline: none;
}

#play-again {
  margin: 5px 0px 15px 0px;
  padding: 15px 35px;
  background-color: rgb(107, 81, 131);
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#round {
  font-size: 20px;
  margin-bottom: 15px;
}

#play-again:hover, #play-again:focus {
  box-shadow: 0 1px 6px 0 rgba(69, 62, 75, 0.8);
  border-color: rgba(107, 86, 124, 0);
  outline: none;
}

.score-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.scores {
  padding: 0px 20px;
  text-align: center;
}

footer {
  color: rgb(70, 68, 71);
  font-size: 8px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}