body {
  background: rgb(234, 228, 237);
  color: rgb(70, 68, 71);
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 10px;
  font-size: 20px;
}

.button {
  margin: 5px;
  width: 100px;
  cursor: pointer;
}

.attribute {
  color: rgb(70, 68, 71);
  font-size: 8px;
  display: flex;
  justify-content: center;
}